nav.navbar.navbar-expand-lg.navbar-light.us {
  background-color: #22BCD4;
}

.logo {
  font-size: 25px;
  color: black;
  font-weight: 600;
  font-family: sans-serif;
  padding-left: 30px;
  font-size: bold;

}

ul.nav.navbar-nav.navigation li{
  padding-left: 15px;
}

ul.nav.navbar-nav.navigation li a {
  text-decoration: none;
  color: black;
                &:hover {
                  color: red;
                }
}

.alert.alert-notice,.alert.alert-alert {
  background-color: #C0C0C0;
}

table.table-bordered {
  text-align: center;
                      td,th {
                        min-width: 300px;
                        max-width: 800px;
                        height: 50px;
                      }
}

.style_select {
  width: 200px;
}
.navbar.navbar .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
}
